*{
    margin:0;
    padding: 0;
}

.cover{
    width: 900px;
    height : 900px;
    //background : #000;
    margin-top: 50px;
    
    justify-content: center;
    
}
.row_box{//한 줄에 들어가는 이미지 컴포넌트
    margin : 10px;
    width: 900px;
    height: 400px;
    align-items: center;
    
    display: flex;
}
.box{
    margin: 35px;
    box-shadow: -1px 0 10px #0000;
    align-items: center;
    justify-content: center;
    text-align: center;
}
img{
    width: 200px;
    height: 300px;
    display: flex;
}