* {
    margin: 0;
    padding: 0;
  }
  
  .cover {
    width: 900px;
    height: 900px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  
  .row_box {
    width: 900px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap into multiple lines */
    justify-content: flex-start; /* Align items to the left */
  }
  
  .box {
    margin: 10px; /* Adjust spacing between boxes */
    box-shadow: -1px 0 10px #0000;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  img {
    width: 200px;
    height: 300px;
  }
  