.App {
  text-align: center;
  
}



.Login{
  text-decoration-line: none;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  text-align: center;
  text-shadow: 1;
  font-weight: 800;
  font-size:larger;
}

nav {
  
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
