.movie_info {
    width: 90%;
    margin: 10px auto;
    background-color:  rgb(53, 49, 66);
    height: 80vh;
}

.movie_image_box{
    width: 45%;
    height: 80vh;
    background-color: rgb(53, 49, 66);
    float: left;
    
}

.movie_image {
    width: 85%;
    height: 75vh;
    margin : 10px;
    float: right;
    background-color: green;
    object-fit: cover;
}

.movie_explanation {
    position: relative;
    width: 45%;
    height: 80vh;
    float: left;
    margin: 10px;
    color: white;

}

.review_list{
    width: 90%;
    margin: 10px auto;
}

.review_box {
    width: 100%;
    margin-top: 20px; /* 위쪽 여백 추가 */
}

.review_input_form {
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 16px;

    textarea {
        width: 90%;
        min-height: 100px; /* 최소 높이 지정 */
        padding: 12px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical; /* 수직 크기 조정 허용 */
        transition: border-color 0.3s ease;

        &:focus {
            outline: none;
            border-color: #007bff;
        }
    }
}

.review_sumbit_button {
    padding: 20px 40px; /* 상하, 좌우 내부 여백 추가 */
    font-size: 16px;
    background-color: #007bff; /* 배경색 추가 */
    color: #fff; /* 텍스트 색상 추가 */
    border: none; /* 테두리 없애기 */
    cursor: pointer; /* 커서를 포인터로 변경 */
    transition: background-color 0.3s; /* 배경색 변화에 대한 transition 효과 추가 */
}

.review_sumbit_button:hover {
    background-color: #0056b3; /* 호버 시 배경색 변경 */
}

.review_text{
    width: 90%;
    margin: 10px auto;
    margin-bottom: 10px; /* 아래쪽 여백 추가 */
    word-break: break-all; /* 긴 단어 및 문자열을 여러 줄로 나눔 */
    color: purple;
    font-weight: bold;
    font-size: 18px;
}

.likes_button {
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 30px;
    font-weight: bold;
    padding: 2px 2px;
    margin-top: 1px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
    color: black;
    background-color: white;
    border: 2px solid white;

    &:hover {
        transform: scale(1.1);
        background-color: white;
    }

}

.like_count {
    margin-left: 5px; 
}

.review_date{
    padding : 2px;
}

.edit_button {
    margin:5px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 10px;
    margin-top: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
    color: black;
    background-color:  #f5f5f7;
    border: 1px solid rgb(134, 134, 135);

    &:hover {
        transform: scale(1.05);
        background-color: #f0f0f0;
    }
}

.delete_button {
    margin:5px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 10px;
    margin-top: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
    color: black;
    background-color:  #f5f5f7;
    border: 1px solid rgb(134, 134, 135);

    &:hover {
        transform: scale(1.05);
        background-color: #f0f0f0;
    }
}
.review_list_useraccount{

}
.reviews_lists{
    width: 90%;
    margin: 10px auto;
    list-style-type: none;
    word-break: break-all;
    border-bottom: 1px solid black;
}