body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "sokcho_ocean_font";
  font-weight: normal;
  src: url("./font/sokcho_ocean_font/TTF/SokchoBadaDotum.ttf") format("truetype");
}
@font-face {
  font-family: "sokcho_ocean_thin_font";
  font-weight: normal;
  src: url("./font/sokcho_ocean_thin_font/TTF/SokchoBadaBatang.ttf")format("truetype");
}