
footer {
    bottom: -600px;
    left: 0;
    width: 100%;
    background-color: #dde0ea;
    color: #333;
    padding: 20px 0;
    display: flex;
    flex-direction: column; /* 내용을 세로 방향으로 정렬하기 위해 column으로 설정 */
    justify-content: center;
    align-items: center;
  }
  
  footer.show {
    transform: translateY(0);
    
  }
  
  #wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; /* 내용을 세로 방향으로 정렬하기 위해 column으로 설정 */
    background-color: #dde0ea;
  }
  
  #wrapper > div {
    flex: 1;
    margin: 0 20px;
    text-align: center;
  }
  
  h4 {
    margin-bottom: 10px;
    background-color: #FFF5EA;
    font-size: 25px;
  }
  
  .each_role {
    margin-bottom: 10px;
    background-color: #FFF5EA;
    font-size: 20px;
  }

  p {
    margin: 5px 0;
    font-weight: bold;
  }
  
  a {
    color: #333;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .copyright {
    margin-top: 20px; /* Copyright 문구와의 간격을 조정 */
    font-weight: bold;
    font-size: 20px;
  }